.contact-us {
  min-height: fit-content;
  padding: 3rem;
  padding-top: 1rem;
  padding-bottom: 4rem;

  .contact-form {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  h2 {
    font-family: var(--sans-serif-font);
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  p {
    color: rgba(0, 0, 0, 0.834);
    font-family: 'Inter', sans-serif;
    margin-bottom: 1rem;
  }

  @media (max-width: 333px) {
    p {
      font-size: 14px !important;
    }
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    background: white;
    padding: 32px 32px 18px 32px;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;

    @media (min-width: 913px) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 25px;
    }

    .full {
      grid-column: 1/-1;
    }

    --white-bg-new: rgb(243, 243, 243);
    --black-bg-new: #141414;

    .form-element {
      appearance: none;
      outline: none;
      border: none;
      display: block;
      border-radius: 4px;
      padding: 12px 0px;
      //padding-left: 0px;
      background-color: var(--white-bg-new);
      width: 100%;
      font-family: 'Inter', sans-serif;
      font-size: 1.05rem;
    }

    @media (max-width: 353px) {
      .form-element {
        font-size: 0.8rem;
      }
    }

    textarea {
      resize: none;
      min-height: 100px;
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
    }

    .group {
      display: flex;
    }

    .empty-space {
      width: 12px;
      height: 100%;
      background-color: var(--white-bg-new);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .empty-space-big {
      width: 12px;
      min-height: 150px;
      background-color: var(--white-bg-new);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .submit {
      text-align: right;

      input[type='submit'] {
        appearance: none;
        border: none;
        outline: none;
        background: none;

        padding: 12px 22px;
        background-color: #1a1a1a;
        color: #e4e3e3;
        font-family: 'Inter', sans-serif;
        font-size: 0.9rem;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #dadada;
          color: #000000;
        }
      }
    }
  }
}

.contact-form {
  p {
    text-align: center;
    color: var(--black-main);
  }
}

@keyframes fadeInBottomForm {
  0% {
    //transform: translateY(50px);
    transform: scale(1.15);
    opacity: 0;
  }

  100% {
    opacity: 1;
    //transform: translateY(0px);
    transform: scale(1);
  }
}

@media (max-width: 913px) {
  .contact-form {
    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 0.91rem;
      text-align: center;
    }
  }
}
