.header {
  position: fixed;
  background-color: var(--white-main);
  //background-color: var(--transparent-white);     //CHANGED TRANSPARENT
  backdrop-filter: blur(0.7rem);
  width: 100vw;
  height: 3.6rem;
  display: flex;
  border-bottom: solid 2px var(--black-main);
  transition: 0.2s ease-in;

  img {
    width: 11em;
    height: 2.5rem;
    //margin: 0.65rem;
    //margin: 1rem;
    //margin-left: 0.5rem;
  }

  z-index: 999;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 14rem;
  padding-right: 15rem;
  
  @media (max-width: 1300px) {
    padding: 0 4.3rem;
  }

  @media (max-width: 1100px) {
    padding: 0;
  }
}

nav {
  display: flex;
}

.navbar {
  font-family: 'Inter', sans-serif;
  font-size: 1rem !important;
  text-transform: uppercase;

  display: flex;
  margin: 0;
  margin-right: 0;
  // justify-content: flex-start;

  @media (min-width: 1100px) {
    align-items: center;
  }

  li {
    list-style-type: none;
    margin-left: 15px;

    @media (min-width: 1100px) {
      text-align: center;
    }
  }

  // Contact button styling
  li:has(> a[href="#contact-us"]) {
    @media (min-width: 1100px) {
      a {
        background-color: rgb(92, 92, 255);
        color: white !important;
        padding: 0.5rem 1.2rem;
        border-radius: 0.4rem;
        // margin-left: 0.5rem;
        transition: all 0.3s ease;
        display: inline-flex;
        align-items: center;
          transform: translateY(-1px);


        svg {
          stroke: white;
        }

        &:hover {
          background-color: rgb(72, 72, 235);
          transform: translateY(-2px);
        }

        &::after {
          display: none;
        }
      }
    }
  }

  // @media(min-width:1300px) {

  //     li:nth-child(6) {
  //         // margin-left: 20px !important;
  //     }
  // }

  .underline-animation {
    position: relative;
    display: inline-block;
    color: var(--black-main);
    text-decoration: none;
  }

  .underline-animation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--black-main);
  }

  .underline-animation:hover::after {
    position: relative;
    width: 0;
    animation: underline 1s;
  }

  @keyframes underline {
    0% {
      width: 0;
      left: 0;
    }

    50% {
      width: 100%;
      left: 0;
    }

    100% {
      width: 0;
      left: 100%;
    }
  }

  background: none;
  font-size: 1.55rem;
}

.mobile-navbar-toggle {
  display: none;
}

.button-bg {
  display: none;
}

@media (min-width: 430px) and (max-width: 1100px) {
  .header {
    img {
      margin-left: 13%;
    }
  }
}

@media (max-width: 1100px) {
  .navbar {
    width: 100%;
    height: 2000px;
    position: fixed;
    inset: 0 0 0 0%;
    flex-direction: column;
    padding: min(30vh, 7rem) 0rem;
    font-size: 1.1rem !important;

    li {
      margin-bottom: 0.8rem;
    }

    z-index: 16;
    transform: translateX(100%);
    transition: transform 280ms ease-out;
    border-left: var(--black-main) 2px solid;
    //background:

    background: var(--white-transparent);
    // backdrop-filter: blur(0.5rem);
  }

  .navbar[data-visible='true'] {
    transform: translateX(35%);
  }

  .header {
    position: fixed;
    width: 100vw;
    background-color: var(--white-main);
    backdrop-filter: blur(0.7rem); //CHANGED TRANSPARENT
    height: 4rem;
    right: 0rem;
  }

  .mobile-navbar-toggle {
    display: block;
    position: absolute;
    background: var(--burger-icon);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 3rem;
    aspect-ratio: 1;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 17;
    border: 0;
    height: 10vh;
    cursor: pointer;
    height: 50px;
    user-select: none;
  }

  .button-bg {
    display: block;
    position: absolute;
    //background-color: rgb(38, 38, 38);
    background-color: var(--black-main);
    width: 4.4rem;
    height: 4rem;
    right: -0.23rem;
    top: auto;
    z-index: 7;
    cursor: pointer;
    user-select: none;
  }

  .mobile-navbar-toggle[aria-expanded='true'] {
    background: var(--close-btn-color);

    background-repeat: no-repeat;
    background-size: 100%;
    width: 4rem;
    top: -0rem;
    right: -0rem;
  }

  .lang-menu {
    margin-right: 4.2rem;
    padding-top: 0.3rem;
  }

  #languages {
    right: 0rem;
  }
}

//light/dark theme icon styling

.theme-toggle {
  position: fixed;
  right: 0;
  margin-right: 1.05rem;
  top: 65px;

  img {
    width: 40px;
    cursor: pointer;
    transition: 0.15s;
  }

  img:hover {
    scale: (0.8);
    transition: 0.15s ease-in;
  }

  transition: 0.2s;
}

@media (max-width: 1100px) {
  #theme-toggle {
    display: none;
  }

  #theme-toggle-navbar {
    display: block !important;

    img {
      margin-left: 1.4rem;
    }
  }
}

#theme-toggle-navbar {
  display: none;

  img {
    width: 40px;
    cursor: pointer;
  }
}

// Desktop Menu Dropdown Styles
.desktop-menu-dropdown {
  position: relative;

  .menu-toggle {
    cursor: pointer;
    user-select: none;
  }

  // Create a pseudo-element to bridge the gap
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0.5rem;
    display: none;
  }

  &:hover::after {
    display: block;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    background-color: var(--white-main);
    border: 2px solid var(--black-main);
    border-radius: 8px;
    box-shadow: 4px 4px 0px var(--black-main);
    min-width: 220px;
    padding: 0.5rem 0;
    list-style: none;
    z-index: 1000;

    li {
      margin: 0;
      padding: 0;
      width: 100%;

      a.dropdown-item {
        display: flex;
        align-items: center;
        padding: 0.75rem 1rem;
        color: var(--black-main);
        text-decoration: none;
        transition: background-color 0.2s ease;
        font-size: 0.95rem;
        width: 100%;
        box-sizing: border-box;
        justify-content: flex-start;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        &::after {
          display: none;
        }

        img.dropdown-theme-icon {
          width: 20px;
          height: 20px;
          margin-right: 0.6rem;
          flex-shrink: 0;
        }

        span {
          flex: 1;
        }
      }
    }
  }

  &:hover .dropdown-menu {
    display: block;
  }

  // Language submenu
  .dropdown-lang-menu {
    position: relative;

    // Create a bridge to prevent dropdown from closing
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      width: 0.5rem;
      height: 100%;
      display: none;
    }

    &:hover::after {
      display: block;
    }

    .lang-submenu {
      display: none;
      position: absolute;
      left: calc(100% + 0.5rem);
      top: 0;
      background-color: var(--white-main);
      border: 2px solid var(--black-main);
      border-radius: 8px;
      box-shadow: 4px 4px 0px var(--black-main);
      min-width: 180px;
      padding: 0.5rem 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;
        width: 100%;

        a {
          display: flex;
          align-items: center;
          padding: 0.75rem 1rem;
          color: var(--black-main);
          text-decoration: none;
          transition: background-color 0.2s ease;
          font-size: 0.9rem;
          width: 100%;
          box-sizing: border-box;

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }

          // Flag icons for language submenu
          &::before {
            content: '';
            display: inline-block;
            height: 18px;
            width: 28px;
            flex-shrink: 0;
            margin-right: 0.6rem;
            background-size: cover;
            background-position: center;
          }

          &#nl-dropdown::before {
            background-image: url(https://www.worldometers.info/img/flags/nl-flag.gif);
          }

          &#en-dropdown::before {
            background-image: url(https://www.worldometers.info/img/flags/uk-flag.gif);
          }

          &#ge-dropdown::before {
            background-image: url(https://www.worldometers.info/img/flags/small/tn_gm-flag.gif);
          }

          &#fr-dropdown::before {
            background-image: url(https://www.worldometers.info/img/flags/small/tn_fr-flag.gif);
          }

          &#ua-dropdown::before {
            background-image: url(https://www.worldometers.info/img/flags/small/tn_up-flag.gif);
          }
        }
      }
    }

    &:hover .lang-submenu {
      display: block;
    }
  }

  @media (max-width: 1100px) {
    display: none;
  }
}

.mobile-only-nav {
  display: none;

  @media (max-width: 1100px) {
    display: list-item;
  }
}

