.banner {
  display: none;

  @media (max-width: 913px) {
    display: block;
    position: absolute;
    bottom: 35px;
    // bottom: 10vh;
    width: 100%;
    text-align: center;
    transform: translateY(-20px);
    // font-size: 130%;
    font-size: 1.2rem;
    text-decoration: none;

    color: rgb(92, 92, 255);
    font-family: 'Inter', sans-serif;

    @media (max-width: 290px) {
      font-size: 1rem;
    }
  }

  .banner-text {
    border: 1px solid var(--black-main);
    padding: 10px;

    .particles {
      transform: translateX(-8px);
      transform: translateY(3px);
    }
  }
}
